html {
  height: 100%;
  background-image: url('./background-image.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  font-family: 'Montserrat', sans-serif;
}

h1 {
  font-size: 1.5rem;
  font-weight: 400;
  margin: 1.25rem auto;
  text-align: center;
  width: 90%;
}

h2 {
  font-size: 1rem;
  font-weight: 400;
  width: 60%;
  text-align: center;
  margin: 1.25rem auto;
}

p {
  margin: 1.25rem 2rem 0;
}

textarea {
  margin: 0.25rem 1.25rem ;
  border-radius: 13px;
  background-color: #ffffff;
  font-family: 'Montserrat', sans-serif;
  font-size: 1rem;
  text-indent: 0.75rem;
}

.header {
  display: block;
  margin: 50px auto;
  height: 50px;
  content: url(./imperativethanelogo.png);
}

.main-container {
  display: flex;
  width: 60%;
  height: 36.75rem;
  margin: auto;
  justify-content: space-between;
  }

.main-meme-container {
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}