.main-display-container {
    height: 367px;
    width: 500px;
    background-color: rgba(187, 235, 255, 0.5);
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
    border: 2px solid #546ECE;
}

.main-display {
    width: 100%;
    object-fit: contain;

}
